.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.bg-primary {
    margin-top: -50px; /* Adjust the value to your preference */
}

.link-danger{
    text-decoration: none;
}
