.nav-pills li a:hover {
    background-color: rgba(223, 230, 231, 0.555);
}

.custom-bg-color{
    left: 0;
    position: fixed;
    background-color: #556970;
}

.custom-border {
    border: 2px solid #556970;
}