.nav-pills li a:hover {
    background-color: rgb(176, 176, 191);
}

.custom-bg-color{
    left: 0;
    position: fixed;
    background-color: #556970;
    width: 300px;
}

.custom-border {
    border: 2px solid #556970;
    /* background-color: blue; */
}

.main, .in-main {
    width: max-content;
}

.content {
    width: 300px;
}

.navLinkActive {
    background-color: gray; /* Adjust the color as needed */
  }
  